<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="32000">
		<setting label="32001" type="text" id="version" default="88.0.4324.96" enable="false" />
		<setting label="32002" type="action" action="RunScript(script.module.webdriver,action=selectdriver)"/>
		<setting label="32003" type="bool" id="delfiles" default="false" />
		<setting label="32004" type="bool" id="debug" default="false" />
	</category>
</settings>
